<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiquan.aladdin_supplier.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.maiquan.aladdin_supplier.domain.Supplier" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="balanceCycle" property="balanceCycle" jdbcType="INTEGER" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contactName" property="contactName" jdbcType="VARCHAR" />
    <result column="contactPhone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="platformServiceFee" property="platformServiceFee" jdbcType="BIGINT" />
    <result column="defaultTransfer" property="defaultTransfer" jdbcType="VARCHAR" />
    <result column="customerServicePhone" property="customerServicePhone" jdbcType="VARCHAR" />
    <result column="meiqiaCustomerServicePhone" property="meiqiaCustomerServicePhone" jdbcType="VARCHAR" />
    <result column="returnAddress" property="returnAddress" jdbcType="VARCHAR" />
    <result column="returnContactName" property="returnContactName" jdbcType="VARCHAR" />
    <result column="returnContactPhone" property="returnContactPhone" jdbcType="VARCHAR" />
    <result column="o2oType" property="o2oType" jdbcType="VARCHAR" />
    <result column="memberId" property="memberId" jdbcType="VARCHAR" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, name, code, balanceCycle, companyName, address, contactName, contactPhone, platformServiceFee, 
    defaultTransfer, customerServicePhone, meiqiaCustomerServicePhone, returnAddress, 
    returnContactName, returnContactPhone, o2oType, memberId, insertTime, updateTime, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_supplier
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_supplier
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maiquan.aladdin_supplier.domain.Supplier" >
    insert into t_supplier (ID, name, code, 
      balanceCycle, companyName, address, 
      contactName, contactPhone, platformServiceFee, 
      defaultTransfer, customerServicePhone, 
      meiqiaCustomerServicePhone, returnAddress, 
      returnContactName, returnContactPhone, 
      o2oType, memberId, insertTime, 
      updateTime, status)
    values (#{ID,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{balanceCycle,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{platformServiceFee,jdbcType=BIGINT}, 
      #{defaultTransfer,jdbcType=VARCHAR}, #{customerServicePhone,jdbcType=VARCHAR}, 
      #{meiqiaCustomerServicePhone,jdbcType=VARCHAR}, #{returnAddress,jdbcType=VARCHAR}, 
      #{returnContactName,jdbcType=VARCHAR}, #{returnContactPhone,jdbcType=VARCHAR}, 
      #{o2oType,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maiquan.aladdin_supplier.domain.Supplier" >
    insert into t_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="balanceCycle != null" >
        balanceCycle,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contactName != null" >
        contactName,
      </if>
      <if test="contactPhone != null" >
        contactPhone,
      </if>
      <if test="platformServiceFee != null" >
        platformServiceFee,
      </if>
      <if test="defaultTransfer != null" >
        defaultTransfer,
      </if>
      <if test="customerServicePhone != null" >
        customerServicePhone,
      </if>
      <if test="meiqiaCustomerServicePhone != null" >
        meiqiaCustomerServicePhone,
      </if>
      <if test="returnAddress != null" >
        returnAddress,
      </if>
      <if test="returnContactName != null" >
        returnContactName,
      </if>
      <if test="returnContactPhone != null" >
        returnContactPhone,
      </if>
      <if test="o2oType != null" >
        o2oType,
      </if>
      <if test="memberId != null" >
        memberId,
      </if>
      <if test="insertTime != null" >
        insertTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="balanceCycle != null" >
        #{balanceCycle,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="platformServiceFee != null" >
        #{platformServiceFee,jdbcType=BIGINT},
      </if>
      <if test="defaultTransfer != null" >
        #{defaultTransfer,jdbcType=VARCHAR},
      </if>
      <if test="customerServicePhone != null" >
        #{customerServicePhone,jdbcType=VARCHAR},
      </if>
      <if test="meiqiaCustomerServicePhone != null" >
        #{meiqiaCustomerServicePhone,jdbcType=VARCHAR},
      </if>
      <if test="returnAddress != null" >
        #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnContactName != null" >
        #{returnContactName,jdbcType=VARCHAR},
      </if>
      <if test="returnContactPhone != null" >
        #{returnContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="o2oType != null" >
        #{o2oType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiquan.aladdin_supplier.domain.Supplier" >
    update t_supplier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="balanceCycle != null" >
        balanceCycle = #{balanceCycle,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contactName = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contactPhone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="platformServiceFee != null" >
        platformServiceFee = #{platformServiceFee,jdbcType=BIGINT},
      </if>
      <if test="defaultTransfer != null" >
        defaultTransfer = #{defaultTransfer,jdbcType=VARCHAR},
      </if>
      <if test="customerServicePhone != null" >
        customerServicePhone = #{customerServicePhone,jdbcType=VARCHAR},
      </if>
      <if test="meiqiaCustomerServicePhone != null" >
        meiqiaCustomerServicePhone = #{meiqiaCustomerServicePhone,jdbcType=VARCHAR},
      </if>
      <if test="returnAddress != null" >
        returnAddress = #{returnAddress,jdbcType=VARCHAR},
      </if>
      <if test="returnContactName != null" >
        returnContactName = #{returnContactName,jdbcType=VARCHAR},
      </if>
      <if test="returnContactPhone != null" >
        returnContactPhone = #{returnContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="o2oType != null" >
        o2oType = #{o2oType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        memberId = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insertTime = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiquan.aladdin_supplier.domain.Supplier" >
    update t_supplier
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      balanceCycle = #{balanceCycle,jdbcType=INTEGER},
      companyName = #{companyName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contactName = #{contactName,jdbcType=VARCHAR},
      contactPhone = #{contactPhone,jdbcType=VARCHAR},
      platformServiceFee = #{platformServiceFee,jdbcType=BIGINT},
      defaultTransfer = #{defaultTransfer,jdbcType=VARCHAR},
      customerServicePhone = #{customerServicePhone,jdbcType=VARCHAR},
      meiqiaCustomerServicePhone = #{meiqiaCustomerServicePhone,jdbcType=VARCHAR},
      returnAddress = #{returnAddress,jdbcType=VARCHAR},
      returnContactName = #{returnContactName,jdbcType=VARCHAR},
      returnContactPhone = #{returnContactPhone,jdbcType=VARCHAR},
      o2oType = #{o2oType,jdbcType=VARCHAR},
      memberId = #{memberId,jdbcType=VARCHAR},
      insertTime = #{insertTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="selectSupplierListByIDs" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from t_supplier
    where ID in
    <foreach collection="array" open="(" separator="," close=")" item="id">
    	#{id,jdbcType=INTEGER}
    </foreach>
  </select>
</mapper>